*{
margin:0;
padding:0;
font-family: 'YaHei Consolas Hybrid';
}
input,textarea{
outline: none;
}
input,textarea{
border:0;
padding:4px;
padding-left: 8px;
/*border:1px solid lightblue;*/
-webkit-transition: box-shadow 0.30s ease-in-out;   /*//只让box-shadow属性做过渡效果！*/
-moz-transition:  box-shadow 0.30s ease-in-out;
/*transition:  box-shadow 0.30s ease-in-out;*/
}
div{
-webkit-transition: box-shadow 0.30s ease-in-out;   /*只让box-shadow属性做过渡效果！*/
-moz-transition:  box-shadow 0.30s ease-in-out;
}
input:hover,textarea:hover{
box-shadow: 0 0 3px lightblue;
}
input:focus{
box-shadow: 0 0 5px lightblue;
}
a:link{
text-decoration: none;
color: inherit;
}
label{
cursor: pointer;
}